/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* The sign up page  */

.form-container {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  width: 505px;
  height: 579px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.title {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 10px 0 30px 0;
  font-size: 28px;
  font-weight: 800;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 15px;
}

.input {
  border-radius: 20px;
  border: 1px solid #c0c0c0;
  outline: 0 !important;
  box-sizing: border-box;
  padding: 12px 15px;
}

.page-link {
  text-decoration: underline;
  margin: 0;
  text-align: end;
  color: #747474;
  text-decoration-color: #747474;
}

.page-link-label {
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 9px;
  font-weight: 700;
}

.page-link-label:hover {
  color: #000;
}

.form-btn {
  padding: 10px 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 20px;
  border: 0 !important;
  outline: 0 !important;
  background: teal;
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-btn:active {
  box-shadow: none;

}

.sign-up-label {
  width: 310px;
  text-align: center;
  color: #AAAAAA;
  font-size: 13px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 15.60px;
  word-wrap: break-word;
}






.button-container {
  width: 359px;
  height: 187px;
  padding: 12px;
  background: #FCFCFC;
  border-radius: 8px;
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.button-inner-container {
  width: 335px;
  padding-left: 8px;
  padding-right: 8px;
  background: #EEF0F3;
  border-radius: 8px;
  border: none;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.button-icon-container {
  width: 49px;
  height: 49px;
  position: relative;
}

.button-icon {
  width: 49px;
  height: 49px;
  left: 0;
  top: 0;
  position: absolute;
}

.button-text {
  font-weight: bold;
  margin-left: 10px; /* Adjust this value as needed */
}

.button-indicator {
  width: 19px;
  height: 19px;
  left: 327px;
  top: 15px;
  position: absolute;
  transform: rotate(180deg);
  transform-origin: 0 0;
}

.button-indicator-inner {
  width: 18.57px;
  height: 18.57px;
  left: 0.22px;
  top: 0.22px;
  position: absolute;
  border-radius: 9999px;
  border: 3px #0052FF solid;
}




/* The welcome page buttons  */
.acceptbutton {
  width: 192px;
  height: 44px;
  padding: 10px;
  background: linear-gradient(139deg, #0052FF 4%, #C7F490 99%);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  display: flex;
}


.cancelbutton {
  width: 192px;
  height: 44px;
  padding: 10px;
  background: #0C121E;
  border-radius: 8px;
  border: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.cancelbutton .cancel {
  color: white;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

.acceptbutton, .cancelbutton {
  /* other styles */
  color: white;
}

.acceptbutton .accepttext, .cancelbutton .cancel {
  /* other styles */
  color: white;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.VeraLogoMark {
  width: 95px;
  height: 132px;
}





.terms {
  width: 399px;
  text-align: center;
}

.terms-text {
  color: #0A0B0D;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 19.20px;
  word-wrap: break-word;
}

.terms-link {
  color: #0052FF;
}

.buttonsAC {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
  border: none;
}

/* create a tag page  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  height: 64px; /* Adjust as needed */
  width: 123px; /* Adjust as needed */
}

/* Add styles for each button */

  

 .profile-button, .notifications-button {
  margin: 0 10px;
}

.search-container {
  width: 400px;
  height: 40px;
  padding: 8px;
  background: #EEF0F3;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  display: inline-flex;
}

.search-text {
  color: #AAAAAA;
  width: 300px;
  font-size: 16px;
  font-family: 'Inter';
  font-weight: 400;
  line-height: 19.20px;
  word-wrap: break-word;
  border: none;
}

.search-icon-container {
  width: 29px;
  height: 29px;
  position: relative;

  border: none; 
}


.search-icon {
  width: 23.09px;
  height: 23.09px;
  left: 2.42px;
  top: 2.42px;
  position: absolute;
  background: #C8C8C8;
}

.create-tag-button {
  width: 192px;
  height: 44px;
  padding: 10px;
  background: linear-gradient(140deg, #0052FF 4%, #D4FF89 99%);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  color: white;
  font-size: 20px;
  font-family: 'Inter';
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
  border: none;
}

.create-tag-button:hover {
background: linear-gradient(140deg, #0052FF 4%, #D4FF89 99%);
}



.explore-button {
  /* Add your styles here */
  text-align: center;
  color: #0A0B0D;
  font-size: 20px;
  font-family: 'Inter';
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
  border: none;
  background: none;
}



.go-pro-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
}

.go-pro-button .icon-container {
  width: 40px;
  height: 40px;
  position: relative;
}

.go-pro-button .icon-container .gradient {
  width: 30px;
  height: 40px;
  left: 2.5px;
  top: 0;
  position: absolute;
}

.go-pro-button .text {
  text-align: center;
  /* color:linear-gradient(129deg, #0052FF 0%, #BAFA53 47%, #0052FF 86%); */
  font-size: 20px;
  font-family: 'Inter';
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}
.text{
  background: linear-gradient(129deg, #0052FF 0%, #BAFA53 47%, #0052FF 86%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wallet-button {
  width: 50px;
  height: 50px;
  padding: 10px;
border: none;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3px;
  display: inline-flex;
}

.wallet-button .icon-container {
  width: 30px;
  height: 30px;
  position: relative;
}

.wallet-button .icon-container .icon {
  width: 25px;
  height: 20px;
  left: 2.5px;
  top: 5px;
  position: absolute;

}

.profile-button {
  width: 50px;
  height: 50px;
  gap: 5px;
  position: relative;
  background: linear-gradient(58deg, #0052FF 0%, #0D5DF8 6%, #1B68F0 12%, #2872E9 19%, #357DE1 25%, #4288DA 31%, #5093D3 37%, #5D9ECB 44%, #6AA8C4 50%, #77B3BD 56%, #84BEB5 62%, #92C9AE 69%, #9FD4A6 75%, #ACDF9F 81%, #B9E998 87%, #C7F490 94%, #D4FF89 100%);
  border-radius: 8px;
}

.dropdown-menu {
  width: 334px;
  height: 650px;
  padding: 24px;
  top: 100%;
  background: white;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.10);
  border-radius: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  display: inline-flex;
}

.dropdown-button {
  width: 286px;
  height: 46px;
  padding: 8px;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  display: inline-flex;
}

.dropdown-button .icon-container {
  width: 30px;
  height: 30px;
  position: relative;
}

.dropdown-button .icon-container .icon {
  width: 22.5px;
  height: 22.5px;
  left: 5px;
  top: 5px;
  position: absolute;
}

.dropdown-button .icon-container .icon .icon-part {
  position: absolute;
  border: 3.33px solid #0A0B0D;
}

.dropdown-button .icon-container .icon .icon-part:first-child {
  width: 22.5px;
  height: 8.44px;
  left: 0;
  top: 14.06px;
}

.dropdown-button .icon-container .icon .icon-part:last-child {
  width: 8.44px;
  height: 8.44px;
  left: 7.03px;
  top: 0;
}

.dropdown-button .textp {
  text-align: center;
  color: #0A0B0D;
  font-size: 20px;
  font-family: 'Inter';
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}


.notifications-button {
  width: 30px;
  height: 30px;
  padding: 10px;
  background: #EEF0F3;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  display: inline-flex;
}

.notifications-button .icon-container {
  width: 30px;
  height: 30px;
  position: relative;
}

.line {
  width: 1500px;
  height: 0;
  align-items: center;
  border: 1px #E4E4E4 solid;
}


.container {
  width: 1149px;
  height: 66px;
 
  padding: 8px 12px;
  background: #F6F6F6;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 67px;
}

.container .welcome-text {
  color: #0A0B0D;
  font-size: 20px;
  font-family: 'Inter';
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.container .icon-container {
  padding: 10px;
  background: white;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.10);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
  border: none;
}



.containerimage {
  width: 668px;
  height: 433px;
  padding: 8px;
   flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  display: flex;
}

.containerimage img {
  width: 626px;
  height: 345px;
}

.containerimage .textimage {
  text-align: center;
  color: black;
  font-size: 25px;
  font-family: 'Inter';
  font-weight: 400;
  line-height: 30px;
  word-wrap: break-word;
}

.containerimage .textimage .highlight {
  color: #0052FF;
}

/* Ipload media css  */

.mediatext {
  color: black;
  font-size: 31px;
  font-family: Inter;
  font-weight: 500;
  line-height: 37.20px;
  word-wrap: break-word;
}

.required-fields {
  color: #AAAAAA;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 19.20px;
  word-wrap: break-word;
}

.file-upload {
  width: 670px;
  height: 251px;
  padding: 32px;
  background: white;
  border-radius: 8px;
  border: 1px #BABFC3 dotted;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-file-upload {
  display: inline-flex;
  width: 60px;
  height: 24px;
  padding: 4px 6px;
  background: #E5EFFD;
  border-radius: 4px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  color: #1F5199;
  font-size: 12px;
  font-family: 'Inter';
  font-weight: 100;
  line-height: 16px;
  word-wrap: break-word;
  cursor: pointer;
}
.upload-media {
  color: black;
  font-size: 25px;
  font-family: 'Inter';
  font-weight: 500;
  line-height: 30px;
  word-wrap: break-word;
}

.file-info {
  width: 699px;
  color: #AAAAAA;
  font-size: 16px;
  font-family: 'Inter';
  font-weight: 400;
  line-height: 19.20px;
  word-wrap: break-word;
}
.file-name {
  color: black;
  font-size: 20px;
  font-family: 'Inter';
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;

}

.custom-input {
  width: 670px;
  height: 36px;
  padding: 8px 12px;
  background: white;
  box-shadow: 0px 1px 0px #898F94 inset;
  border-radius: 4px;
  border: 1px #AEB4B9 solid;
}


.description-container {
  width: 670px;
  height: 44px;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
}

.description-title {
  color: black;
  font-size: 20px;
  font-family: 'Inter';
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

.description-text {
  width: 699px;
  color: #AAAAAA;
  font-size: 13px;
  font-family: 'Inter';
  font-weight: 400;
  line-height: 15.60px;
  word-wrap: break-word;
}
.description-input {
  width: 670px;
  height: 98px;
  padding: 8px 12px;
  background: white;
  box-shadow: 0px 1px 0px #898F94 inset;
  border-radius: 4px;
  border: 1px #AEB4B9 solid;
}

.media-type-container {
  width: 670px;
  height: 44px;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
}

.media-type-title {
  color: black;
  font-size: 20px;
  font-family: 'Inter';
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

.media-type-text {
  align-self: stretch;
  color: #AAAAAA;
  font-size: 13px;
  font-family: 'Inter';
  font-weight: 400;
  line-height: 15.60px;
  word-wrap: break-word;
}


.radio-button-container {
  width: 69px;
  height: 28px;
  padding: 4px 0;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.radio-button {
  width: 20px;
  height: 20px;
  position: relative;
}

.radio-button-inner {
  width: 18px;
  height: 18px;
  left: 1px;
  top: 1px;
  position: absolute;
  background: white;
  border-radius: 9999px;
  border: 2px #8C9196 solid;
}

.radio-button-label {
  color: #202223;
  font-size: 14px;
  font-family: 'Inter';
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;
}

.continue-button {
  width: 591px;
  height: 44px;
  padding: 10px;
  background: #0C121E;
  border-radius: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  color: white;
  font-size: 20px;
  font-family: 'Inter';
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
  cursor: pointer;
}

.continue-button-text {
  color: white;
  font-size: 20px;
  font-family: 'Inter';
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}


.button-back {
  width: 50px;
  height: 50px;
  padding: 10px;
  background: white;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.10);
  border-radius: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button {
  width: 30px;
  height: 30px;
  position: relative;
}

.button-inner {
  width: 13.11px;
  height: 13.11px;
  left: 8.45px;
  top: 8.45px;
  position: absolute;
  border: 2.50px black solid;
}
.back-button-image {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.cancel-button {
  width: 50px;
  height: 50px;
  padding: 10px;
  background: white;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.10);
  border-radius: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  cursor: pointer;
}



.cancel-button-icon {
  width: 13.11px;
  height: 13.11px;
  left: 8.45px;
  top: 8.45px;
  position: absolute;
  border: 2.50px black solid;
}
